[access]
	inheritFrom = All-Projects
[project]
	description = Test project for LFS
[access "refs/*"]
	delete = group Administrators
	deleteChanges = group Administrators
	deleteOwnChanges = group Administrators
	push = group Administrators
	pushMerge = group Administrators
	read = group Administrators
	rebase = group Administrators
	submit = group Administrators
